body {
  height: 100%;
  width: 100%;
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #ffffff;
  /* line-height: 1.5em; */
  margin: 0px;
}

#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 6em;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}

span#tekno {
  color: white;
}

span#tekno:hover {
  color: #ff00aa;
}

span#boten {
  color: #bbbbbb;
}

span#boten:hover {
  color: #00eeee;
}
